.location_wrapper{
    display: grid;
    grid-template-columns: auto 50px;
    align-items: center;
    justify-content:space-between;
    padding: 6px 6px 6px 12px;
    margin-top: 8px;
    gap: 5px;
}
.location{
    font-size: 17px;
    font-weight: bold;
}